@import '../base/variables';
.wrapper-droppable-columns {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.wrapper-draggable-card {
    margin-top: 10px;
}

.wrapper-draggable-pipeline-column {
    user-select: none;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    background-color: $wrapper-draggable-pipeline-column;
}

.pipeline-column {
    width: 300px;
    height: 100%;
}

.pipeline-column-header {
    background-color: $pipeline-column-header;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    padding: 7px 0;
}

.scroll-menu {
    overflow: auto;
    white-space: nowrap;
}