@import '../base/variables';
.wrapper-droppable-columns {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.wrapper-draggable-card {
    margin-top: 10px;
}

.wrapper-draggable-pipeline-column {
    user-select: none;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    background-color: $grey-background-color;
}

.pipeline-column {
    width: 300px;
    height: 500px;
}

.pipeline-column-header {
    background-color: $dark-grey-background-color;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    padding: 7px 0;
}

.scroll-menu {
    overflow-x: scroll;
    white-space: nowrap;
}

.scroll-menu2 {
    overflow-y: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
        width: 9px;
    }
    &::-webkit-scrollbar-track {
        margin-top: 10px;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: $dark-grey-background-color;
        border-radius: 5px;
        &:hover {
            background: #D4D4D4;
        }
    }
}