//background color
$primary-color: #FF5351;
$light-background-color: #fff;
// $primary-color-hover: #fff3f0;
//text color
$primary-text-color: #3a3a3a;
$secondary-text-color: #FFCDD2;
$tertiary-text-color: #E57373;
//box shadow
$dropdown-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.15);
$card-dashboard-shadow: -2px 3px 3px 1px rgba(0, 0, 0, 0.05);