.site-card-wrapper {
  padding: 30px;
  background-color: #f5f8fa;
}

.feature-container {
  align-items: center;
}

.featured-item {
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -2px 3px 3px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -2px 3px 3px 1px rgba(0, 0, 0, 0.05);
}

.ant-card-head-title {
  color: #244791;
  font-weight: bold;
}

.feature-info {
  font-size: 25px;
  font-weight: 500;
  color: #244791;
}

.featureRate {
  display: flex;
  align-items: center;
  color: green;
}
.feature-cover {
  padding-left: 0 !important;
}

.featureRate.negative {
  color: red;
}

.featureIcon {
  margin-left: 30px;
  font-size: 50px;
  color: #3c76f1;
}

.featureSub {
  display: flex;
  color: #d8e4fc;
  font-weight: 400;
}
